@import 'vars.less';

h1#pagenotfound{
	display: block;
	text-align: center;
	margin:60px 0;
	padding:100px 0;
	color:@cinzaMaisEscuro;
	.yanone(40px);
}

html{
	body{
		header{
			height:180px;
			position:relative;
			overflow-x:hidden;
			border-top: 4px #E6E6E8 solid;
			.centro{
				position:relative;
				#logo-link{
					width:244px;
					height:73px;
					display:block;
					position:absolute;
					top:40px;
					left:0px;					
				}
				nav{
					float:right;
					margin-top:52px;
					height:54px;
					background:@cinza;
					text-align:right;
					-moz-transform: skewX(-30deg) skewY(0deg);
					-webkit-transform: skewX(-30deg) skewY(0deg);
					-o-transform: skewX(-30deg) skewY(0deg);
					-ms-transform: skewX(-30deg) skewY(0deg);
					transform: skewX(-30deg) skewY(0deg);
					padding-right: 9000px;
					margin-right: -9000px;
					ul{
						font-size: 0;
						padding-left: 17px;	
						height:54px;
						-moz-transform: skewX(30deg) skewY(0deg);
						-webkit-transform: skewX(30deg) skewY(0deg);
						-o-transform: skewX(30deg) skewY(0deg);
						-ms-transform: skewX(30deg) skewY(0deg);
						transform: skewX(30deg) skewY(0deg);
						li{
							.inline;
							height:54px;
							a{
								.yanone(14px);
								color:@vermelho;
								text-decoration: none;
								display:block;
								padding: 0 10px;
								height:54px;
								line-height:54px;
								position:relative;
								.transition;
								&:active, &:visited{color:@vermelho;}
								&:hover, &.ativo{
									color:#fff;
									background:@cinzaMaisEscuro;
								}
								&:after{
									content:"";
									display:block;
									width: 1px;
									height: 38px;
									background-color: #CDCDCD;
									position: absolute;
									top:8px;
									right:-1px;
								}
							}
							&:last-child a:after{display:none;}
						}
					}
				}
				#link-fb{
					position: absolute;
					top: 130px;
					right:0;
					width:20px;
					height:20px;					
				}
			}
		}
		.main{
			h1.titulo-secao{
				height:80px;
				margin-bottom: 40px;
				overflow-x: hidden;
				&.quem-somos .centro .icone span{background:url('../images/layout/icone-area-quemsomos.png') 5px bottom no-repeat}
				&.solucoes-para-empresas .centro .icone span{background:url('../images/layout/icone-area-solucoesempresas.png') 5px bottom no-repeat}
				&.solucoes-para-pessoas .centro .icone span{background:url('../images/layout/icone-area-solucoespessoas.png') 5px bottom no-repeat}
				&.responsabilidade-social .centro .icone span{background:url('../images/layout/icone-area-projeto.png') 5px bottom no-repeat}
				&.clientes .centro .icone span{background:url('../images/layout/icone-area-clientes.png') 5px bottom no-repeat}
				&.contato .centro .icone span{background:url('../images/layout/icone-area-contato.png') 5px bottom no-repeat}				
				.centro{
					.icone{
						float:left;
						width:102px;
						height:80px;
						background-color:@vermelho;
						margin-left:-9000px;
						padding-left: 9000px;
						-moz-transform: skewX(-30deg);
						-webkit-transform: skewX(-30deg);
						-o-transform: skewX(-30deg);
						-ms-transform: skewX(-30deg);
						transform: skewX(-30deg);
						span{
							display: block;
							height:80px;
							-moz-transform: skewX(30deg);
							-webkit-transform: skewX(30deg);
							-o-transform: skewX(30deg);
							-ms-transform: skewX(30deg);
							transform: skewX(30deg);
						}
					}
					.texto{
						margin-left:13px;
						height:56px;
						line-height:56px;
						float:left;
						background:@cinza;
						color:@cinzaMaisEscuro;
						margin-right:-9000px;
						padding-right: 9000px;
						.yanone(28px);
						-moz-transform: skewX(-30deg);
						-webkit-transform: skewX(-30deg);
						-o-transform: skewX(-30deg);
						-ms-transform: skewX(-30deg);
						transform: skewX(-30deg);
						span{
							padding-left: 20px;
							display:block;
							-moz-transform: skewX(30deg);
							-webkit-transform: skewX(30deg);
							-o-transform: skewX(30deg);
							-ms-transform: skewX(30deg);
							transform: skewX(30deg);
						}
					}
				}
			}
			.detalhe-texto{
				font-size:0;
				section{
					.inline;
					width:600px;
					p{
						color:@cinzaMaisEscuro;
						.open(14px);
						margin-bottom: 20px;
						line-height: 180%;
					}
					strong{font-weight: bold;}
					em{font-style: italic;}
					ul{
						padding-left:20px;
						color:@cinzaMaisEscuro;
						.open(14px);
						margin-bottom: 20px;
						line-height: 180%;
						list-style: outside;
						li{
							margin-bottom:6px;
						}
					}
					ol{
						padding-left:40px;
						color:@cinzaMaisEscuro;
						.open(14px);
						margin-bottom: 20px;
						line-height: 180%;
						list-style: decimal;
						li{
							margin-bottom:6px;
						}	
					}
				}
				.imagem{
					.inline;
					width:370px;
					min-height: 400px;
					&.quem-somos{background: url('../images/layout/img-quemsomos.png') center top no-repeat;}
					&.solucoes-para-empresas{background: url('../images/layout/img-solucoesempresas.png') center top no-repeat;}
					&.solucoes-para-pessoas{background: url('../images/layout/img-solucoespessoas.png') center top no-repeat;}
					&.responsabilidade-social{background: url('../images/layout/img-projeto.png') center top no-repeat;}
				}
			}
			.listaclientes{
				font-size:0;
				a{
					.inline;
					border:1px @cinza solid;
					padding:20px 30px;
					width:170px;
					height:120px;
					margin:0 17px 17px 0;
					img{
						display:block;
						margin:0 auto;
						max-width:170px;
						max-height:120px;
					}
					.transition;
					&:active, &:visited{}
					&:hover{border-color:@vermelho;}
				}
				div{
					.inline;
					border:1px @cinza solid;
					padding:20px 30px;
					width:170px;
					height:120px;
					margin:0 17px 17px 0;
					img{
						display:block;
						margin:0 auto;
						max-width:170px;
						max-height:120px;
					}
				}
				*:nth-child(4n){
					margin-right:0;
				}
			}
			&.main-contato{
				h2{
					color:@cinzaMaisEscuro;
					padding-bottom:10px;
					border-bottom: 2px @vermelho solid;
					.open(22px);
					font-style: italic;
				}
				form{
					margin-top:20px;
					font-size:0;
					.coluna1{
						.inline;
						width:450px;
					}
					.coluna2{
						.inline;
						width:530px;
					}
					input[type="text"],
					input[type="email"]{
						width:436px;
						display:block;
						margin:0 0 5px 0;						
						padding:3px 6px;
						height:28px;
						line-height:28px;
						border:1px @cinza solid;
						color:@cinzaMaisEscuro;
						.open(12px);
						.placeholder(@cinzaMaisEscuro);
					}
					textarea{
						margin-left:5px;
						height: 110px;
						width:511px;
						display:block;
						padding:3px 6px;
						border:1px @cinza solid;
						color:@cinzaMaisEscuro;
						resize:none;
						overflow:auto;
						.open(12px);
						.placeholder(@cinzaMaisEscuro);
					}
					.enviar{
						height:34px;
						margin-top:5px;
						input{
							border:0;
							height:34px;
							line-height:34px;
							float:right;
							color:#fff;
							margin:0;
							background:@vermelho;
							padding:0 12px;
							border-radius: 10px 0 10px 0;
							.open(14px);
							font-style: italic;
							cursor:pointer;
							.transition;
							&:hover{
								background-color:@cinzaEscuro;
							}
						}						
					}
				}
				.enviado{
					display:block;
					padding:40px;
					margin:30px 0 60px 0;
					.open(32px, bold);
					color:@vermelho;
					text-align:center;
				}
			}
		}
		footer{
			#faixa-contato{
				padding: 57px 0 22px 0;
				overflow-x: hidden;
				.centro{
					height:88px;
					.info{
						padding-top:12px;
						height:76px;
						width:270px;
						padding-left: 50px;
						background: url('../images/layout/seta-contato.png') @cinzaEscuro -1px center no-repeat;
						padding-right: 9000px;
						margin-right: -9000px;
						float:right;
						.telefone{
							.yanone(26px);
							display:block;
							line-height: 110%;
							color:#fff;
						}
						.email{
							display:block;
							a{
								text-decoration: none;
								.yanone(26px);
								line-height: 110%;
								color:#fff;
								.transition;								
								&:active, &:visited{color:#fff;}
								&:hover{color:@vermelho;}
							}
						}
					}
				}
			}
			#assinatura{
				padding:30px 0 90px 0;
				background:#E6E6E6;
				text-align: center;
				p{
					.open(10px);
					color:#939393;
					a{
						.transition;
						text-decoration: none;
						color:#939393;
						&:active, &:visited{color:#939393;}
						&:hover{color:@vermelho;}
						img{
							vertical-align: -2px;
						}
					}
				}
			}
		}
	}
}