@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Yanone+Kaffeesatz');
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
h1#pagenotfound {
  display: block;
  text-align: center;
  margin: 60px 0;
  padding: 100px 0;
  color: #4d4d4f;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  font-weight: normal;
}
html body header {
  height: 180px;
  position: relative;
  overflow-x: hidden;
  border-top: 4px #E6E6E8 solid;
}
html body header .centro {
  position: relative;
}
html body header .centro #logo-link {
  width: 244px;
  height: 73px;
  display: block;
  position: absolute;
  top: 40px;
  left: 0px;
}
html body header .centro nav {
  float: right;
  margin-top: 52px;
  height: 54px;
  background: #e6e6e6;
  text-align: right;
  -moz-transform: skewX(-30deg) skewY(0deg);
  -webkit-transform: skewX(-30deg) skewY(0deg);
  -o-transform: skewX(-30deg) skewY(0deg);
  -ms-transform: skewX(-30deg) skewY(0deg);
  transform: skewX(-30deg) skewY(0deg);
  padding-right: 9000px;
  margin-right: -9000px;
}
html body header .centro nav ul {
  font-size: 0;
  padding-left: 17px;
  height: 54px;
  -moz-transform: skewX(30deg) skewY(0deg);
  -webkit-transform: skewX(30deg) skewY(0deg);
  -o-transform: skewX(30deg) skewY(0deg);
  -ms-transform: skewX(30deg) skewY(0deg);
  transform: skewX(30deg) skewY(0deg);
}
html body header .centro nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 54px;
}
html body header .centro nav ul li a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #eb1d23;
  text-decoration: none;
  display: block;
  padding: 0 10px;
  height: 54px;
  line-height: 54px;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header .centro nav ul li a:active,
html body header .centro nav ul li a:visited {
  color: #eb1d23;
}
html body header .centro nav ul li a:hover,
html body header .centro nav ul li a.ativo {
  color: #fff;
  background: #4d4d4f;
}
html body header .centro nav ul li a:after {
  content: "";
  display: block;
  width: 1px;
  height: 38px;
  background-color: #CDCDCD;
  position: absolute;
  top: 8px;
  right: -1px;
}
html body header .centro nav ul li:last-child a:after {
  display: none;
}
html body header .centro #link-fb {
  position: absolute;
  top: 130px;
  right: 0;
  width: 20px;
  height: 20px;
}
html body .main h1.titulo-secao {
  height: 80px;
  margin-bottom: 40px;
  overflow-x: hidden;
}
html body .main h1.titulo-secao.quem-somos .centro .icone span {
  background: url('../images/layout/icone-area-quemsomos.png') 5px bottom no-repeat;
}
html body .main h1.titulo-secao.solucoes-para-empresas .centro .icone span {
  background: url('../images/layout/icone-area-solucoesempresas.png') 5px bottom no-repeat;
}
html body .main h1.titulo-secao.solucoes-para-pessoas .centro .icone span {
  background: url('../images/layout/icone-area-solucoespessoas.png') 5px bottom no-repeat;
}
html body .main h1.titulo-secao.responsabilidade-social .centro .icone span {
  background: url('../images/layout/icone-area-projeto.png') 5px bottom no-repeat;
}
html body .main h1.titulo-secao.clientes .centro .icone span {
  background: url('../images/layout/icone-area-clientes.png') 5px bottom no-repeat;
}
html body .main h1.titulo-secao.contato .centro .icone span {
  background: url('../images/layout/icone-area-contato.png') 5px bottom no-repeat;
}
html body .main h1.titulo-secao .centro .icone {
  float: left;
  width: 102px;
  height: 80px;
  background-color: #eb1d23;
  margin-left: -9000px;
  padding-left: 9000px;
  -moz-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
html body .main h1.titulo-secao .centro .icone span {
  display: block;
  height: 80px;
  -moz-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
}
html body .main h1.titulo-secao .centro .texto {
  margin-left: 13px;
  height: 56px;
  line-height: 56px;
  float: left;
  background: #e6e6e6;
  color: #4d4d4f;
  margin-right: -9000px;
  padding-right: 9000px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  font-weight: normal;
  -moz-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
html body .main h1.titulo-secao .centro .texto span {
  padding-left: 20px;
  display: block;
  -moz-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
}
html body .main .detalhe-texto {
  font-size: 0;
}
html body .main .detalhe-texto section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 600px;
}
html body .main .detalhe-texto section p {
  color: #4d4d4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 180%;
}
html body .main .detalhe-texto section strong {
  font-weight: bold;
}
html body .main .detalhe-texto section em {
  font-style: italic;
}
html body .main .detalhe-texto section ul {
  padding-left: 20px;
  color: #4d4d4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 180%;
  list-style: outside;
}
html body .main .detalhe-texto section ul li {
  margin-bottom: 6px;
}
html body .main .detalhe-texto section ol {
  padding-left: 40px;
  color: #4d4d4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 180%;
  list-style: decimal;
}
html body .main .detalhe-texto section ol li {
  margin-bottom: 6px;
}
html body .main .detalhe-texto .imagem {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 370px;
  min-height: 400px;
}
html body .main .detalhe-texto .imagem.quem-somos {
  background: url('../images/layout/img-quemsomos.png') center top no-repeat;
}
html body .main .detalhe-texto .imagem.solucoes-para-empresas {
  background: url('../images/layout/img-solucoesempresas.png') center top no-repeat;
}
html body .main .detalhe-texto .imagem.solucoes-para-pessoas {
  background: url('../images/layout/img-solucoespessoas.png') center top no-repeat;
}
html body .main .detalhe-texto .imagem.responsabilidade-social {
  background: url('../images/layout/img-projeto.png') center top no-repeat;
}
html body .main .listaclientes {
  font-size: 0;
}
html body .main .listaclientes a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 1px #e6e6e6 solid;
  padding: 20px 30px;
  width: 170px;
  height: 120px;
  margin: 0 17px 17px 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .listaclientes a img {
  display: block;
  margin: 0 auto;
  max-width: 170px;
  max-height: 120px;
}
html body .main .listaclientes a:hover {
  border-color: #eb1d23;
}
html body .main .listaclientes div {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 1px #e6e6e6 solid;
  padding: 20px 30px;
  width: 170px;
  height: 120px;
  margin: 0 17px 17px 0;
}
html body .main .listaclientes div img {
  display: block;
  margin: 0 auto;
  max-width: 170px;
  max-height: 120px;
}
html body .main .listaclientes *:nth-child(4n) {
  margin-right: 0;
}
html body .main.main-contato h2 {
  color: #4d4d4f;
  padding-bottom: 10px;
  border-bottom: 2px #eb1d23 solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}
html body .main.main-contato form {
  margin-top: 20px;
  font-size: 0;
}
html body .main.main-contato form .coluna1 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 450px;
}
html body .main.main-contato form .coluna2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 530px;
}
html body .main.main-contato form input[type="text"],
html body .main.main-contato form input[type="email"] {
  width: 436px;
  display: block;
  margin: 0 0 5px 0;
  padding: 3px 6px;
  height: 28px;
  line-height: 28px;
  border: 1px #e6e6e6 solid;
  color: #4d4d4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main.main-contato form input[type="text"]::-webkit-input-placeholder,
html body .main.main-contato form input[type="email"]::-webkit-input-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form input[type="text"]:-moz-placeholder,
html body .main.main-contato form input[type="email"]:-moz-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form input[type="text"]::-moz-placeholder,
html body .main.main-contato form input[type="email"]::-moz-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form input[type="text"]:-ms-input-placeholder,
html body .main.main-contato form input[type="email"]:-ms-input-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form textarea {
  margin-left: 5px;
  height: 110px;
  width: 511px;
  display: block;
  padding: 3px 6px;
  border: 1px #e6e6e6 solid;
  color: #4d4d4f;
  resize: none;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main.main-contato form textarea::-webkit-input-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form textarea:-moz-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form textarea::-moz-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form textarea:-ms-input-placeholder {
  color: #4d4d4f;
}
html body .main.main-contato form .enviar {
  height: 34px;
  margin-top: 5px;
}
html body .main.main-contato form .enviar input {
  border: 0;
  height: 34px;
  line-height: 34px;
  float: right;
  color: #fff;
  margin: 0;
  background: #eb1d23;
  padding: 0 12px;
  border-radius: 10px 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-contato form .enviar input:hover {
  background-color: #a0a0a0;
}
html body .main.main-contato .enviado {
  display: block;
  padding: 40px;
  margin: 30px 0 60px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #eb1d23;
  text-align: center;
}
html body footer #faixa-contato {
  padding: 57px 0 22px 0;
  overflow-x: hidden;
}
html body footer #faixa-contato .centro {
  height: 88px;
}
html body footer #faixa-contato .centro .info {
  padding-top: 12px;
  height: 76px;
  width: 270px;
  padding-left: 50px;
  background: url('../images/layout/seta-contato.png') #a0a0a0 -1px center no-repeat;
  padding-right: 9000px;
  margin-right: -9000px;
  float: right;
}
html body footer #faixa-contato .centro .info .telefone {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
  font-weight: normal;
  display: block;
  line-height: 110%;
  color: #fff;
}
html body footer #faixa-contato .centro .info .email {
  display: block;
}
html body footer #faixa-contato .centro .info .email a {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 110%;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #faixa-contato .centro .info .email a:active,
html body footer #faixa-contato .centro .info .email a:visited {
  color: #fff;
}
html body footer #faixa-contato .centro .info .email a:hover {
  color: #eb1d23;
}
html body footer #assinatura {
  padding: 30px 0 90px 0;
  background: #E6E6E6;
  text-align: center;
}
html body footer #assinatura p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #939393;
}
html body footer #assinatura p a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: #939393;
}
html body footer #assinatura p a:active,
html body footer #assinatura p a:visited {
  color: #939393;
}
html body footer #assinatura p a:hover {
  color: #eb1d23;
}
html body footer #assinatura p a img {
  vertical-align: -2px;
}
