@import 'vars.less';

html{
	body{
		#banners{
			margin-bottom:70px;
			position:relative;
			height:340px;
			background:@cinza;
			.centro{
				position:relative;
				height:340px;
				background: url('../images/layout/img-banner-home.png') left center no-repeat;
				#faixa{
					position:absolute;
					width:303px;
					height:434px;
					background:url('../images/layout/faixa-banner-home.png') center center no-repeat;
					top:-47px;
					left:312px;
				}
				#target{
					width:390px;
					height:230px;
					position: absolute;
					right:25px;
					top:60px;
					.banner{
						position:absolute;
						top:0;
						left:0;
						width:400px;
						height:230px;
						overflow: hidden;
						text-align: center;
						text-decoration: none;
						background:@cinza;
						&:hover{
							p{color:@vermelho;}
							span{color:#fff;}
						}
						h1{
							display:block;
							margin:0 auto;
							width:65%;
							.yanone(38px);
							color:@vermelho;
							line-height: 125%;
						}
						span{
							.transition;
							.yanone(38px);
							display:block;
							color:@vermelho;
							line-height: 110%;
							margin-bottom:10px;
						}
						p{
							.transition;
							.open(15px);
							color:@cinzaMaisEscuro;
							line-height: 160%;
							font-style: italic;
						}
					}
				}
				#banners-nav{
					font-size:0;
					width:390px;
					position:absolute;
					top:290px;
					right:25px;
					a{
						.inline;
						width:123px;
						height:5px;
						background:#fff;
						&:nth-child(2){margin:0 10px;}
						.transition;
						&:hover, &.activeSlide{background:@vermelho;}
					}
				}
			}
		}
		#chamadas{
			font-size:0;
			.centralizar;
			a{
				width:280px;
				text-decoration: none;
				.inline;
				.transition;
				&:active, &:visited{}
				&:hover{
					p{
						color:@vermelho						
					}
					.saiba-mais span{background:@cinzaEscuro;}
				}
				&.chamada-0{
					h2{background: url('../images/layout/icone-home1.png') left top no-repeat}
				}
				&.chamada-1{
					position: relative;
					h2{background: url('../images/layout/icone-home2.png') left top no-repeat}
					padding:0 35px;
					margin:0 34px;
					border-left: 1px @cinza solid;
					border-right: 1px @cinza solid;
				}
				&.chamada-2{
					h2{background: url('../images/layout/icone-home3.png') left top no-repeat}
				}
				h2{
					margin-bottom: 15px;
					height: 70px;
					line-height: 105px;
					text-align: right;
					overflow: hidden;
					.open(22px);
					font-style: italic;
					color:@cinzaMaisEscuro;
					border-bottom:2px @vermelho solid;
				}
				p{
					text-align: left;
					line-height: 180%;
					min-height: 170px;
					color:@cinzaEscuro;
					.open(12px);
					.transition;
				}
				.saiba-mais{
					height:34px;
					margin-top:30px;
					span{
						.transition;
						height:34px;
						line-height:34px;
						float:right;
						color:#fff;
						background:@vermelho;
						padding:0 12px;
						border-radius: 10px 0 10px 0;
						.open(14px);
						font-style: italic;
					}
				}
			}
		}
	}
}