@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Yanone+Kaffeesatz');
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body #banners {
  margin-bottom: 70px;
  position: relative;
  height: 340px;
  background: #e6e6e6;
}
html body #banners .centro {
  position: relative;
  height: 340px;
  background: url('../images/layout/img-banner-home.png') left center no-repeat;
}
html body #banners .centro #faixa {
  position: absolute;
  width: 303px;
  height: 434px;
  background: url('../images/layout/faixa-banner-home.png') center center no-repeat;
  top: -47px;
  left: 312px;
}
html body #banners .centro #target {
  width: 390px;
  height: 230px;
  position: absolute;
  right: 25px;
  top: 60px;
}
html body #banners .centro #target .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 230px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  background: #e6e6e6;
}
html body #banners .centro #target .banner:hover p {
  color: #eb1d23;
}
html body #banners .centro #target .banner:hover span {
  color: #fff;
}
html body #banners .centro #target .banner h1 {
  display: block;
  margin: 0 auto;
  width: 65%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #eb1d23;
  line-height: 125%;
}
html body #banners .centro #target .banner span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 38px;
  font-weight: normal;
  display: block;
  color: #eb1d23;
  line-height: 110%;
  margin-bottom: 10px;
}
html body #banners .centro #target .banner p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #4d4d4f;
  line-height: 160%;
  font-style: italic;
}
html body #banners .centro #banners-nav {
  font-size: 0;
  width: 390px;
  position: absolute;
  top: 290px;
  right: 25px;
}
html body #banners .centro #banners-nav a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 123px;
  height: 5px;
  background: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #banners .centro #banners-nav a:nth-child(2) {
  margin: 0 10px;
}
html body #banners .centro #banners-nav a:hover,
html body #banners .centro #banners-nav a.activeSlide {
  background: #eb1d23;
}
html body #chamadas {
  font-size: 0;
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
html body #chamadas a {
  width: 280px;
  text-decoration: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #chamadas a:hover p {
  color: #eb1d23;
}
html body #chamadas a:hover .saiba-mais span {
  background: #a0a0a0;
}
html body #chamadas a.chamada-0 h2 {
  background: url('../images/layout/icone-home1.png') left top no-repeat;
}
html body #chamadas a.chamada-1 {
  position: relative;
  padding: 0 35px;
  margin: 0 34px;
  border-left: 1px #e6e6e6 solid;
  border-right: 1px #e6e6e6 solid;
}
html body #chamadas a.chamada-1 h2 {
  background: url('../images/layout/icone-home2.png') left top no-repeat;
}
html body #chamadas a.chamada-2 h2 {
  background: url('../images/layout/icone-home3.png') left top no-repeat;
}
html body #chamadas a h2 {
  margin-bottom: 15px;
  height: 70px;
  line-height: 105px;
  text-align: right;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  color: #4d4d4f;
  border-bottom: 2px #eb1d23 solid;
}
html body #chamadas a p {
  text-align: left;
  line-height: 180%;
  min-height: 170px;
  color: #a0a0a0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #chamadas a .saiba-mais {
  height: 34px;
  margin-top: 30px;
}
html body #chamadas a .saiba-mais span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 34px;
  line-height: 34px;
  float: right;
  color: #fff;
  background: #eb1d23;
  padding: 0 12px;
  border-radius: 10px 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
